{# templates/forms/base_book.html.twig #}

{{ form_start(form) }}
	{{ form_row(form.Name) }}
	{{ form_row(form.year) }}
	{{ form_row(form.ISBN) }}
	{{ form_row(form.Pages) }}
	{% block brochure %}{% endblock %}
	{{ form_row(form.brochure) }}
	<ul class="Authors">
	{{ form_label(form.Authors) }}
		{% for author in form.Authors %}
					<li>
						{{ form_row(author) }}
					</li>
		{% endfor %}
	</ul>
	{% block buttons %}{% endblock %}
{{ form_end(form) }}