{# templates/form_book.html.twig #}
{{ form_start(form) }}
	{{ form_row(form.Name) }}
	{{ form_row(form.year) }}
	{{ form_row(form.ISBN) }}
	{{ form_row(form.Pages) }}
	<ul class="Authors">
	{{ form_label(form.Authors) }}
		{% for author in form.Authors %}
					<li>
						{{ form_row(author) }}
					</li>
		{% endfor %}
	</ul>
	{{ form_row(form.saveBook) }}
	{{ form_row(form.delete) }}
{{ form_end(form) }}